
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner"  data-bs-interval="500">
  
  
      <div class="carousel-item active slides">
        <img src="https://www.dpsetah.com/img/about/school.jpg" class="d-block w-100" alt="...">
        
      </div>
  
  
  
      <div class="carousel-item mx-auto">
        <img src="https://www.dps-hisar.in/images/staff.JPG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.dps.ac.in/images/cover%20page%201.JPG" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- admission section marque tag -->

 

  <div style="width: 100%; padding: 0px 10px 50px 10px; font-size: 18px">
    

  <div class="row">
<div class="col-md-3" >
    <img src="https://www.dps-hisar.in/add.jpg" alt="Admission Open" style="width:105%;">
</div>
<div class="col" style="background-color: #3d683a; width: 100%;"  >
    <span>
    <marquee width="100%" direction="left" height="100px">
        <span>
            <a href="" style="color: white;">
                <br>
        <i class="fa fa-star"></i>
    As per the instructions issued by CBSE through circular no. Acad -35/2016 to reduce the weight of school bag in the schools,Following steps have been taken:
1) No   homework  policy for the students of classes I and II. 
2) Providing loose sheets for the workbooks as it reduces the weight of school bag. 
3)Timetable has been framed in such a way that students could get time to complete their projects and assignments in school hours only under the direct supervision of teachers. 
</a><br>
<a href="" style="color: white;">
<i class="fa fa-star"></i>
To the linguistic and cultural diversity and multilingualism, an assembly on International Mother Language Day
 was conducted by the students of class 9th-C.Each one of us should 
pledge to celebrate and respect the linguistic and cultural diversity of our country.</a>
</span>
    </marquee>
</span>
</div>

<!-- <div class="col-sm" style="background-color: #3d683a; width: 100%;"  >
    <span>
    <marquee width="100%" direction="left" height="100px">
        <span>
            <a href="" style="color: white;">
        <i class="fa fa-star"></i>
 To the linguistic and cultural diversity and multilingualism, an assembly on International Mother Language Day was conducted
  by the students of class 9th-C.Each one of us should pledge to celebrate and respect the linguistic and cultural diversity
   of our country.
</a>
</span>
    </marquee>
</span>
</div> -->
</div>
  </div>
<!-------Gallary-------->
<div>

  <marquee bgcolor="#3d683a" style="color: #FFFFFF; font-family: Book Antiqua;margin-top: -8px; " behavior="alternate">
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3247" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3248" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3249" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3250" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3251" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3252" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3253" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3254" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3255" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3256" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3257" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3258" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3259" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3260" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3261" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3262" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3263" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3264" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3265" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3266" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3267" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3268" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;
<img src="https://www.dps-hisar.in/serv/ssss.php?id=3269" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3271" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3272" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3273" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;

<img src="https://www.dps-hisar.in/serv/ssss.php?id=3274" alt="" style="width:210px;height:210px;">&nbsp;&nbsp;



</marquee>

</div>
 
<!-- <div class="container"> -->
    <!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: black " >

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          
            <div class="col-sm">
                <img src="https://www.dps-hisar.in/images/dpswhite.png" style="width: 400px; height:auto" alt="Dps logo">
                 </div>
          
          <p class="text-light"> Delhi Public School, Hisar is to ensure accuracy and confidentiality, implement education policies and procedures,
            supply information, and provide efficient and attentive service to students,br faculty, and administrative staff. 
         We balance fair, equitable enforcement of policy with responsive, individual assistance.</p>
       
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3" >
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold text-primary">CONTACT US</h5>
         <div>
             <ul>
                 <li class="text-light">
                    <i class="fa fa-map-marker"></i>&nbsp;
                    <strong>
                        <font>Address</font>
                    </strong>
                    <font>Delhi Public School, <br> Hisar Address : Opp. Power Grid,
                        <br>
                        Delhi-Hisar Highway,</font>
                 </li>
                 <li  class="text-light">
                    <i class="fa fa-phone"></i>
                    <strong>phone</strong>
                    
                    <font style="color: #ffffff;">+91-92541-81419, <br>
                        +91-1662-261561
                        <br>(24/7 Support Line)</font></li>
             </ul>
         </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2000 Copyright:
      <a href="https://dps.com/"> dps.nic.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<!-- </div> -->
  